<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="">
				<meta name="author" content="">
				<title>Account | Premier Shop</title>
				<link href="css/bootstrap.min.css" rel="stylesheet">
				<link href="css/font-awesome.min.css" rel="stylesheet">
				<link href="css/prettyPhoto.css" rel="stylesheet">
				<link href="css/price-range.css" rel="stylesheet">
				<link href="css/animate.css" rel="stylesheet">
				<link href="css/main.css" rel="stylesheet">
				<link href="css/responsive.css" rel="stylesheet">
				<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
				<![endif]-->       
				<link rel="shortcut icon" href="images/ico/favicon.ico">
				<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
				<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
				<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
				<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
			</head><!--/head-->
			
			<body>
				<header id="header"><!--header-->
					<%include headertop%>
					
					<div class="header-middle"><!--header-middle-->
						<div class="container">
							<div class="row">
								<div class="col-sm-4">
									<div class="logo pull-left">
										<a href="/"><img width="125px" src="images/home/logo-2.jpg" alt="" /></a>
									</div>
								</div>
								<div class="col-sm-8">
									<div class="shop-menu pull-right">
										<ul class="nav navbar-nav">
											<li><a class="active" href="#"><i class="fa fa-user"></i> <%=usrname%></a></li>
											<li><a href="/wishlist"><i class="fa fa-star"></i> Yêu thích</a></li>
											<li><a href="/orderlist"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
											<li><a href="/cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
											<li><a href="/logout"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div><!--/header-middle-->
				
					<div class="header-bottom"><!--header-bottom-->
						<div class="container">
							<div class="row">
								<div class="col-sm-9">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="mainmenu pull-left">
										<ul class="nav navbar-nav collapse navbar-collapse">
											<li><a href="/" class="active">Trang chủ</a></li>
											<li class="dropdown"><a href="/category?id=1&page=1">Bóng rổ<i class="fa fa-angle-down"></i></a>
												<ul role="menu" class="sub-menu">
													<li><a href="shop.html">Giày</a></li>
													<li><a href="checkout.html">Áo đấu</a></li> 
													<li><a href="cart.html">Phụ kiện khác</a></li> 
												</ul>
											</li>
											<li class="dropdown"><a href="/category?id=2&page=1">Bóng đá<i class="fa fa-angle-down"></i></a>
												<ul role="menu" class="sub-menu">
													<li><a href="shop.html">Giày</a></li>
													<li><a href="checkout.html">Áo đấu</a></li> 
													<li><a href="cart.html">Phụ kiện khác</a></li> 
												</ul>
											</li> 
											<li><a href="contact-us.html">Về chúng tôi</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-3">
										<div class="search_box pull-right">
												<form name="searcher" action="/search" method="GET">
													<input name="page" type="hidden" value="1"/>
													<input name="keywords" type="text" placeholder="Tìm kiếm" autocomplete="off"/>
												</form>
											</div>
								</div>
							</div>
						</div>
					</div><!--/header-bottom-->
				</header><!--/header-->
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Tài khoản</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="shopper-informations">
				<div class="row" style="margin-bottom:25px">
					<div class="col-sm-5">
						<div class="shopper-info">
							<p>Thông tin của bạn</p>
							<form name="updateinfo" method="POST" action="/updateinfo">
								Họ tên:<input type="text" name="fullname" value="<%=result.fullname%>" minlength="6" maxlength="30" autocomplete="off" required/>
								Địa chỉ:<input type="text" name="address" value="<%=result.address%>" autocomplete="off" required/>
								Số điện thoại:<input type="number" name="phone" value="<%=result.phone%>" max="9999999999" autocomplete="off" required/>
								Email:<input type="email" name="email" value="<%=result.email%>" autocomplete="off" required/>
								<div class="err-msg"><%=message%></div>
								<button type="submit" class="btn btn-primary">Cập nhật</button>
							</form>
							
						</div>
					</div>
					<div class="col-sm-5">
							<div class="shopper-info">
								<p>Đổi mật khẩu</p>
								<form name="changepass" method="POST" action="/changepass">
									<input type="password" name="oldpass" placeholder="Mật khẩu cũ"/>
									<input type="password" name="newpass" placeholder="Mật khẩu mới"/>
									<input type="password" name="newpassagain" placeholder="Nhập lại mật khẩu mới"/>
									<div class="err-msg"><%=message2%></div>
									<button type="submit" class="btn btn-primary">Thay đổi</button>
								</form>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<% include footer %>

    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>