<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | Premier Shop</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<div id="myModal"  class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">Xác nhận đơn hàng thành công!</h4>
				</div>
				<div class="modal-body">
					<div style="margin-left:28%">
				  <img src="images/checked.png">
				  </div>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				</div>
			  </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		  </div><!-- /.modal -->
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<%include headertop%>

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img width="125px" src="images/home/logo-2.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-user"></i> <%=usrname%></a></li>
								<li><a href="/wishlist"><i class="fa fa-star"></i> Yêu thích</a></li>
								<li><a href="/orderlist"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
								<li><a href="/cart" class="active"><i class="fa fa-shopping-cart"></i> Giỏ hàng </a></li>
								<li><a href="/logout"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Trang chủ</a></li>
								<li class="dropdown"><a href="/category?id=1&page=1">Bóng rổ<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Giày</a></li>
										<li><a href="checkout.html">Áo đấu</a></li> 
										<li><a href="cart.html">Phụ kiện khác</a></li> 
                                    </ul>
								</li>
								<li class="dropdown"><a href="/category?id=2&page=1">Bóng đá<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Giày</a></li>
										<li><a href="checkout.html">Áo đấu</a></li> 
										<li><a href="cart.html">Phụ kiện khác</a></li> 
                                    </ul>
                                </li> 
								<li><a href="contact-us.html">Về chúng tôi</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
							<div class="search_box pull-right">
									<form name="searcher" action="/search" method="GET">
										<input name="page" type="hidden" value="1"/>
										<input name="keywords" type="text" placeholder="Tìm kiếm" autocomplete="off"/>
									</form>
								</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Sản Phẩm</td>
							<td class="description"></td>
							<td class="price">Giá</td>
							<td class="quantity">Số lượng</td>
							<td class="total">Tổng</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% if(!prod.rows[0]) {
							%><tr>
									<td class="cart_product">
										<p style="margin-top:25px">Chưa có sản phẩm nào trong giỏ</p>
									</td>
								</tr><%
							
						} else {
						prod.rows.forEach((p)=>{%>
							<tr>
									<td class="cart_product">
										<a href="/product?id=<%=p.productid%>"><img height="110px" src=<%=p.image%> alt=""></a>
									</td>
									<td class="cart_description">
										<h4><a href="/product?id=<%=p.productid%>"><%=p.productname%></a></h4>
									</td>
									<td class="cart_price">
										<p><%=p.price%>$</p>
									</td>
									<td class="cart_quantity">
										<div class="cart_quantity_button">
											<a class="cart_quantity_up" href="/addtocart?id=<%=p.productid%>&amnt=1"> + </a>
											<input class="cart_quantity_input" type="text" name="quantity" value="<%=p.amount%>" autocomplete="off" size="2">
											<a class="cart_quantity_down" href="/addtocart?id=<%=p.productid%>&amnt=-1"> - </a>
										</div>
									</td>
									<td class="cart_total">
										<p class="cart_total_price"><%=p.price*p.amount%>$</p>
									</td>
									<td class="cart_delete">
										<a class="cart_quantity_delete" href="/removefromcart?id=<%=p.productid%>"><i class="fa fa-times"></i></a>
									</td>
								</tr>
						<%})}%>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
			</div>
			<div class="row">
				<div class="col-sm-6">
					
				</div>
				<div class="col-sm-6">
					
						<% if(!result.rows[0]){
						}
						else{
							var sum = 0
							result.rows.forEach((p)=>{
								sum=sum+p.price*p.amount
							})%>
							<div class="total_area">
							<ul>
								<li>Tổng giá trị sản phẩm <span>$<%=sum%></span></li>
								<li>Phí vận chuyển <span>Free</span></li>
								<li>Total <span>$<%=sum%></span></li>
							</ul>
									<a class="btn btn-default check_out" href="/confirmorder">Check Out</a>
							</div>
						<%}%>
						
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<% include footer %>

    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript">
	<%if(furasshu == 'done'){%>
		$(window).on('load',function(){
			$('#myModal').modal('show')
		});
	<%}%>
	</script>
</body>
</html>